<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <title>Angular JS</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="./css/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./src/Covid/Module.js"></script>
    <script src="./src/Covid/Configuration.js"></script>
    <script src="./src/Covid/Controller.js"></script>
    <script src="./node_modules/angular-utils-pagination/dirPagination.js"></script>

   

    <script src="http://code.highcharts.com/highcharts.js"></script>
    
<script src="./src/Covid/FactoryCovid.js"></script>
<script src="./src/Covid/ServiceCovid.js"></script>

</head>
<body ng-controller="homeController" ng-init="getCovidData()">



   <div class="row">
   
      <div class="container">
       <br/>
       <select ng-change="getCovidData()"  ng-model="country" class="form-control">
     
          <option ng-repeat="row in countries" value="{{row.name}}"> {{row.name}}</option>
           
          </select>
    
    
    </div>
    
    </div>
    

   <div ng-hide="wrapper">

   
<div class="row">
<div class="container" style="padding:10px;">

   <chart title="Covid Report" xData="lineChartXData" yData="lineChartYData" xName="Month" 
   yName="Count" subtitle="{{country}}"></chart>
   
</div>

   </div>




<h1 style="text-align: center;">Covid Report of {{country}}</h1>

   <div class="container">
      
         <div class="form-group">
            
            <input class="form-control" type="text" ng-model="queryText" placeholder="Search">
          </div>   
          <h3 ng-show="queryText">Showing results for: {{queryText}}</h3>
         <br/>
     
      <div class="container" >
      <table class="table table-bordered ">
         <thead>
            <tr>
            <th  ng-click="sort('Country')">
               Country
               <span class="glyphicon sort-icon" ng-show="sortingObject.sortKey=='Country'" ng-class="{'glyphicon-chevron-up':sortingObject.sortReverse,'glyphicon-chevron-down':!sortingObject.sortReverse}"></span>
           
            </th>
            <th ng-click="sort('Date')">
               Date
               <span class="glyphicon sort-icon" ng-show="sortingObject.sortKey=='Date'" ng-class="{'glyphicon-chevron-up':sortingObject.sortReverse,'glyphicon-chevron-down':!sortingObject.sortReverse}"></span>
           
            </th>
            <th>
               Confirmed
            </th>
            <th>
               Death
            </th>
            <th>
               Recovered
            </th>
            <th>
               Active
            </th>
            
            
         </tr>
         </thead>

         <tbody>

            <tr dir-paginate="row in data | filter: queryText | orderBy:sortingObject.sortKey:sortingObject.sortReverse | itemsPerPage: itemsPerPage" pagination-id="Date" >

               <td ><span class="label label-default"></span> {{row.Country}} </span></td>
               <td ><span class="label label-default"> {{row.Date}} </span></td>
               <td ><span class="label label-info">{{row.Confirmed}}</span></td>
               <td ><span class="label label-danger">{{row.Deaths}}</span></td>
               <td ><span class="label label-success">{{row.Recovered}}</span></td>
               <td ><span class="label label-warning">{{row.Active }}</span></td>
 


            </tr>


         </tbody>


      </table>
      <dir-pagination-controls pagination-id="Date" class="pull-right"></dir-pagination-controls>
   
      </div>
   </div>
    

   </div>
 
   <div ng-show="wrapper">
   <div class="container"> 
<div class="col-12" style="padding-top: 20px;">
   <div class="alert alert-danger">
      <strong>Oops!</strong> Something went wrong, No Data Found!
    </div>
</div>
</div>
   </div>
     

    
</body>
</html>